@charset "ISO-8859-1";

.size20
{
    font-size: 20px;
}

.size20b
{
    font-size: 20px;
    font-weight: bold !important; 
}

.size18
{
    font-size: 18px;
} 

.size18b
{
    font-size: 18px;
    font-weight: bold !important;
} 
